footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e2e2e;
}

.footer-left, .footer-right {
    padding: 50px;
}

.footer-left h1 {
    font-family: 'Caladea';
    font-style: italic;
    text-transform: capitalize;
}

.footer-left p {
    font-size: 18px;
    font-family: 'Gabriola';
}

.footer-left span {
    text-transform: uppercase;
    color: cyan;
}

.footer-icon {
    padding: 0 10px;
}

.social-icon {
    font-size: 20px;
    color: #fff;
}

.social-icon:hover {
    color: cyan;
}