header {
    display: flex;
    padding: 30px 50px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--contrast);
    background-color: var(--primary);
}

.header-name {
    color: var(--light);
}

.nav-bar {
    font-size: 20px;
    float: right;
}

.nav-bar li {
    display: inline;
	margin: 0;
	padding: 0 10px;
}

.navBar {
    color: var(--light);
    text-decoration: none;
}

.navBar:hover {
    color: var(--contrast);
}

.theme-btn,
.profile-btn {
	font-size: 16px;
	border: none;
	cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

.footer-left, .footer-right {
    padding: 50px;
}

.footer-left {
    color: var(--light);
}

.footer-left h1 {
    font-family: 'Caladea';
    font-style: italic;
    text-transform: capitalize;
}

.footer-left p {
    font-size: 18px;
    font-family: 'Gabriola';
}

.footer-left span {
    text-transform: uppercase;
    color: var(--contrast);
}

.footer-icon {
    padding: 0 10px;
}

.social-icon {
    font-size: 20px;
    color: var(--light);
}

.social-icon:hover {
    color: var(--contrast);
}