:root {
	--primary: #2e2e2e;
	--contrast: cyan;
	--light: rgb(255, 255, 255);
	--error: #e7002a;
	--warning: #F39C12;
	--inputFont: #2e2e2e;
	--inputBG: lightcyan;
	--inputBorder: #2e2e2e;
	--searchIcon: #2e2e2e;
	--searchBG: snow;
	--login: blue;
	--font-color: #2e2e2e;
	--background-color: rgb(255, 255, 255);
}

[data-theme='dark'] {
	--inputFont: snow;
	--inputBG: #2e2e2e;
	--inputBorder: cyan;
	--searchIcon: snow;
	--searchBG: #2e2e2e;
	--login: yellow;
	--font-color: #eee;
	--background-color: rgb(91, 91, 91);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::placeholder {
	color: var(--error);
}

body {
	color: var(--font-color);
	background-color: var(--background-color);
}

main {
    padding: 50px;
}

.note-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.emptyNote {
	font-size: 20px;
	text-align: center;
}

.detailItem-content {
	color: cyan;
	border-color: red;
}

.noteInput-action,
.addBtn {
    display: flex;
    position: fixed;
    padding: 15px 20px;
    right: 50px;
    bottom: 50px;
    font-size: 20px;
	color: var(--inputFont);
	background-color: var(--inputBG);
	border: 1px solid var(--inputBorder);
	border-radius: 50px;
	text-decoration: none;
    gap: 15px;
	cursor: pointer;
	z-index: 10;
}

.noteInput-action:hover,
.addBtn:hover {
	color: var(--primary);
	background-color: var(--contrast);
	border-color: var(--light);
}

.note-search {
	padding-bottom: 50px;
}

.searchIcon {
    top: 165px;
    left: 70px;
	display: flex;
    position: absolute;
	font-size: 22px;
	color: var(--searchIcon);
}

.note-search input {
	padding: 15px 25px 15px 55px;
	width: 100%;
	font-size: 20px;
	border: 2px solid var(--primary);
	border-radius: 50px;
	color: var(--font-color);
	background-color: var(--searchBG);
}

.notFoundPage {
	padding: 0 50px;
}

.notFoundPage h2 {
	font-size: 48px;
	padding-bottom: 5px;
}

.notFoundPage p {
	font-size: 28px;
}
