.note-item {
    width: 345px;
    display: flex;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #2c2c2c;
    overflow: hidden;
    flex-direction: column;
    transition: 0.3s;
}

.note-item:hover {
    border-color: cyan;
    transform: scale(1.1);
    transition: 0.3s;
}

.noteItem-content {
    padding: 20px 18px;
    flex: 1;
}

.noteItem-header {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    color: rgb(200, 200, 200);
    border-bottom: 1px solid snow;
}

.noteItem-title {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.noteTitle {
    color: cyan;
    text-decoration: none;
}

.noteItem-date {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.noteItem-body {
    padding: 10px 0 5px;
    color: snow;
}

.noteItem-action {
    text-align: center;
    background-color: snow;
    border-top: 1px solid transparent;
}

.noteItem-btn {
    width: 50%;
    padding: 10px 0;
    border: none;
    background-color: snow;
}

.noteItem-btn.delete {
    border-right: 1px solid #2e2e2e;
}

.noteItem-btn.delete:hover {
    color: snow;
    background-color: red;
}

.noteItem-btn.archive:hover {
    color: snow;
    background-color: darkorange;
}

.detailItem-content {
    padding: 0 50px;
    color: #fff;
}

.detailItem-title {
    line-height: 32px;
    font-size: 32px;
    line-height: 36px;
}

.detailItem-date {
    padding: 15px 0 10px;
    font-size: 18px;
    border-bottom: 1px solid #fff;
}

.detailItem-body {
    padding: 15px 0;
    font-size: 20px;
    line-height: 28px;
}